:root {
  --cell-border-size: 2px;
  --sign-size: 75%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
  transition: 0.5s;
  font-size: clamp(1rem, 7vw, 1.5rem);
}

[data-board] {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: 750px;
}

.cell {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  height: auto;
  border: var(--cell-border-size) solid black;
  cursor: pointer;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}

[data-board] .cell.cross,
[data-board] .cell.circle {
  cursor: not-allowed;
}

[data-board].cross .cell:not(.cross):not(.circle):hover {
  background: url('https://api.iconify.design/fluent-emoji-high-contrast/cross-mark.svg?color=tomato') no-repeat center center / var(--sign-size);
}

[data-board].circle .cell:not(.cross):not(.circle):hover {
  background: url('https://api.iconify.design/fluent-emoji-high-contrast/hollow-red-circle.svg?color=%2374c365') no-repeat center center / var(--sign-size);
}

.cell.cross {
  background: url("https://api.iconify.design/fluent-emoji-high-contrast/cross-mark.svg?color=red") no-repeat center center / var(--sign-size);
}

.cell.circle {
  background: url("https://api.iconify.design/fluent-emoji-high-contrast/hollow-red-circle.svg?color=green") no-repeat center center / var(--sign-size);
}

/* END-GAME-BOX */

[end-game-box] {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* BUTTONS */

button {
  width: 75vw;
  max-width: 200px;
  aspect-ratio: 3/1;
  height: auto;
  cursor: pointer;
  background: #000;
  color: #fff;
  border: none;
  transition: 0.5s;
  font-size: clamp(1rem, 7vw, 1.5rem);
}

button:hover {
  opacity: 0.75;
}
